<div class="container-fluid">
  <h2 class="text-center">Add New Quote</h2>
  <hr>
  <form>
      <div class="form-group">
        <label for="name">Your Name</label>
        <input type="text" required class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="name">Quote Tittle</label>
        <input type="text" required class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="description">Quote</label>
        <textarea class="form-control" id="quote" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <label for="name">Quote Author</label>
        <input type="text" required class="form-control" id="name">
      </div>
      <button class="btn btn-sm btn-success">Add Quote</button>
  </form>
</div>
