#delete{
  font-size: 20px;
  margin-right: 2%;
}
#del{
  float:right;
}
#like{
  font-size: 16px;
}
#dislike{
  font-size: 16px;
}
.hate{
  margin-left: 10px;
  background-color: brown;
  color: white;
}
hr{
  background-color: darkcyan;
}
#buttons{
  margin-top: 5%;
  margin-bottom: 10%;
}
.card-text{
  font-family: 'Handlee', cursive;
  font-weight: 570;
  font-size: 18px;
}
#when{
  float:right;
  font-family: 'Handlee', cursive;
}