@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Architects+Daughter|Handlee|Indie+Flower|Patrick+Hand|Special+Elite&display=swap');
body{
  background-image: url("../src/assets/quotesbg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
